/*.pro.user
/*.vcxproj
/*.vcxproj.filters
/*.vcxproj.user
/*.sln
/bin/
/.vs/

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/

*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.filters

.vscode/